/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'html5reset'
@import 'col'
@import '12cols'
@import '3cols'
@import "font-awesome-sprockets"
@import "font-awesome"


*
  padding: 0
  margin: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html, body
  width: 100%
  height: 100%
  font-family: Georgia,"Times New Roman",Times,serif
  font-weight: 300 
  -webkit-transition: all 1s ease
  -moz-transition: all 1s ease
  -o-transition: all 1s ease
  transition: all 1s ease

#site-wrapper
  padding-top: 70px
  background: image-url('bg_text.jpg') repeat 
 

  //background-color: #F8F8F8

.slide-site-wrapper
  margin-left: -225px

.page-container
  padding: 0 10px

q:before
  content: "\201C"

q:after
  content: "\201D"

.text-center
  text-align: center

#skills

.skills-header
  font-size: 1.3em
  line-height: 1em
  text-transform: uppercase
  text-align: center
  padding: 10px 0

/***** Nav Bar *****/
nav
  position: fixed
  width: 100%
  height: 70px
  background-color: #fff
  letter-spacing: -1px
  z-index: 100
  border-bottom: 1px solid #d3d3d3
  -webkit-box-shadow: -3px -1px 3px 1px #939393
  -moz-box-shadow: -3px -1px 3px 1px #939393
  box-shadow: -3px -1px 3px 1px #939393

  


  small
    font-size: 0.3em


header
  font-size: 20px
  font-weight: bold

.nav-container
  position: relative
  padding: 10px 

.nav-container > header
  position: absolute
  left: 10px

.nav-container > .menu-button
  position: absolute
  width: 40px
  right: 10px

.menu-button
  z-index: 110

.menu-bar:hover
  cursor: pointer
  color: #d3d3d3

.menu-bar 
  position: absolute
  top: -20px
  text-align: center
  padding: 6px
  font-size: 3em
  font-weight: bold
  //border: 1px solid #222
  //border-radius: 5px


#menu
  float: right
  font-size: 1.3em
  display: none

#menu > li
  display: inline-block
  margin-right: 5px

/***** Side Bar *****/
.sidebar
  position: fixed
  top: 0
  height: 100%
  width: 225px
  right: 0
  color: #fff
  background-color: #082D4F
  -webkit-transition: all 1s ease-in-out
  -moz-transition: all 1s ease-in-out
  -o-transition: all 1s ease-in-out
  transition: all 1s ease-in-out
  -moz-box-shadow:    inset 5px 1px 10px #000000
  -webkit-box-shadow: inset 0 0 10px #000000
  box-shadow:         inset 5px 1px 10px #000000
  z-index: -100

.show-menu
  right: -225px

#sidebar-menu 
  list-style: none

  li
    text-align: center
    padding: 20px

  a
    color: #fff
    text-decoration: none



/***** My Motto *****/

.my_motto
  text-align: center
  font-size: 1.4em
  font-style: lighter
  margin: 20px 10px 0


/***** My Photo *****/
#photo-container
  float: none

.picture-wrapper
  position: relative

#my_photo
  display: block
  width: 160px
  height: 200px
  border: 1px solid #fff
  margin: 20px auto
  border-radius: 5pxh


p.message_to_viewers
  font-size: 0.9em
  word-wrap: break-word

.contact-wrapper > button 
  height: 50px
  width: 100%
  margin: 8px 0
  text-align: center

/***** TECHNICAL SKILLS *****/
.technical-skills-wrapper
  h3
    width: auto
    padding: 5px 0px
    text-transform: uppercase
    border-bottom: 1px solid
    text-align: center

.logo-container
  text-align: center
  margin-bottom: 10px
  border-radius: 3px
  background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%
  //border: 1px solid #d3d3d3

  img 
    display: block
    margin: 0 auto
  
  .logo-wrapper
    padding: 20px 0

  .skill-description
    //border-top: 1px solid #d3d3d3

.skill-logo
  width: 50px
  height: 50px


//   position: relative
//   float: left
//   border: 1px solid #222
//   text-align: center
//   padding: 15px
//   -webkit-border-radius: 5px
//   -moz-border-radius: 5px
//   border-radius: 5px
//   width: 16%
//   margin:  2% 2% 50px 2%
//   font-size: 0.6em


.skill-description
  text-transform: uppercase

.screener
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 100

footer
  width: 100%
  background: rgba(45, 45, 48, .9) none repeat scroll 0% 0%
  height: 150px
  margin-top: 10px



@media (min-device-width:480px)

@media (min-device-width:600px)

@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  
  .skill-logo > img
    width: 30px
    height: 30px
  /*.rescale
    position: fixed
    top: 0
    width: 100%
    z-index: 1000
    right: 225px
    -webkit-transition: all 3s ease-in-out 2s
    -moz-transition: all 3s ease-in-out 2s
    -o-transition: 3s ease-in-out 2s
    transition: all 3s ease-in-out 2s
    

    .nav-container > header
      left: -100px
      -webkit-transition: 1s ease-in-out
      -moz-transition: 1s ease-in-out
      -o-transition: 1s ease-in-out
      transition: 1s ease-in-out
    */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

@media (min-width:1025px)
  .nav-container > .menu-button
    display: none 
  #menu
    display: block 

  #photo-container
    float: left
  #my_photo
    margin: 0 0 0 5em

  p.message_to_viewers
    width: 500px
  .rescale
    margin-right: 225px
    transform: scale(.9, .9)

