/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import 'html5reset'
@import 'col'
@import '12cols'
@import '3cols'
@import "font-awesome-sprockets"
@import "font-awesome"


*
  padding: 0
  margin: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

html, body
  font-family: Georgia,"Times New Roman",Times,serif
  font-weight: 300
  background-color: #fff
  padding: 0 20px

a
  color: #222
  text-decoration: none

q:before
  content: "\201C"

q:after
  content: "\201D"

.text-center
  text-align: center

.site-wrapper
  -webkit-transition: 1s ease-in-out
  -moz-transition: 1s ease-in-out
  -o-transition: 1s ease-in-out
  transition: 1s ease-in-out
  background-color: #F8F8F8
#skills
  background-color: #E1E3E5
/***** Nav Bar *****/
nav
  position: relative
  width: 100%
  height: 70px
  margin-bottom: 20px
  background-color: #fff


header
  font-size: 20px
  font-weight: bold

.nav-container
  position: relative
  padding: 10px 

.nav-container > header
  position: absolute
  left: 10px

.nav-container > .menu-button
  position: absolute
  width: 40px
  right: 10px

.menu-button:hover
  .menu-bar 
    border-color: #d3d3d3

  cursor: pointer
  color: #d3d3d3

.menu-bar 
  position: relative
  text-align: center
  padding: 6px
  border: 1px solid #222
  border-radius: 5px

.bars
  font-size: 1.8em
  font-weight: bold

#menu
  float: right
  font-size: 1.3em
  display: none

#menu > li
  display: inline-block
  margin-right: 5px

/***** Side Bar *****/
aside.sidebar
  position: fixed
  height: 100%
  width: 225px
  right: 0
  display: none
  background-color: #222
  -webkit-transition: 1s ease-in-out
  -moz-transition: 1s ease-in-out
  -o-transition: 1s ease-in-out
  transition: 1s ease-in-out

.adjust-body-menu
  margin-right: 225px
  -webkit-transition: 1s ease-in-out
  -moz-transition: 1s ease-in-out
  -o-transition: 1s ease-in-out
  transition: 1s ease-in-out

/***** Side Bar *****/
.my_motto
  text-align: center
  font-size: 1.3em
  margin-bottom: 5px


.rescale
  margin-right: 225px
  transform: scale(.9, .9)
   

/***** My Photo *****/

#photo-container
  float: none

.picture-wrapper
  position: relative

#my_photo
  display: block
  width: 300px
  height: 300px
  border: 1px solid #fff
  margin: 0 auto

p.message_to_viewers
  word-wrap: break-word

.contact-wrapper > button 
  height: 50px
  width: 100%
  margin: 8px 0
  text-align: center

.logo-container
  position: relative
  float: left
  border: 1px solid #222
  text-align: center
  padding: 15px
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  width: 16%
  margin:  2% 2% 50px 2%
  font-size: 0.6em


.skill-description
  text-transform: uppercase

.screener
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 100

footer
  background-color: #2A2D30
  height: 300px

@media (min-device-width:480px)

@media (min-device-width:600px)
@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (min-device-width: 768px) and (max-device-width: 1024px) 


@media (min-width:1025px)
  .nav-container > .menu-button
    display: none 
  #menu
    display: block 

  #photo-container
    float: left
  #my_photo
    margin: 0 0 0 5em

  p.message_to_viewers
    width: 500px

