%h3.sub-header
  Recent Blogs
.col.span_1_of_3
  %article.post-container
    .post-header
      %h4<> 
        Title
    .post-content
      %p<> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et finibus eros. Proin non malesuada orci, id vulputate nunc. Quisque tincidunt, nulla quis feugiat auctor, libero enim consectetur urna, ac luctus nunc lacus a elit.
    .post-button
      %a{:href => "#"}
        Read More

.col.span_1_of_3
  %article.post-container
    .post-header
      %h4<> 
        Title
    .post-content
      %p<> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et finibus eros. Proin non malesuada orci, id vulputate nunc. Quisque tincidunt, nulla quis feugiat auctor, libero enim consectetur urna, ac luctus nunc lacus a elit.
    .post-button
      %a{:href => "#"}
        Read More

.col.span_1_of_3
  %article.post-container
    .post-header
      %h4<> 
        Title
    .post-content
      %p<> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et finibus eros. Proin non malesuada orci, id vulputate nunc. Quisque tincidunt, nulla quis feugiat auctor, libero enim consectetur urna, ac luctus nunc lacus a elit.
    .post-button
      %a{:href => "#"}
        Read More
%p{:style => 'text-align: right; color: #2c87f0;'}
  %a{:href => "#", :style => 'color: #2c87f0;'}
    More Blogs  

