%nav
  .nav-container
    %header
      ウッディー
    %ul#menu
      %li
        %a{:href=>"#"}
          About
      %li
        %a{:href=>"#"}
          Blog
      %li
        %a{:href=>"#"}
          Calendar
      %li
        %a{:href=>"#"}
          Contact
        

    .menu-button
      .menu-bar
        = icon('bars', class: 'fa-lg bars')