%aside.sidebar.show-menu
  My Side Bar
  
  %ul#sidebar-menu
    %li
      %a{:href=>"#"}<>
        About
    %li
      %a{:href=>"#"}<>
        Blog
    %li
      %a{:href=>"#"}<>
        Calendar
    %li
      %a{:href=>"#"}<>
        Contact
